<footer class="footer">
    <div class="footer-content">
      <div class="footer-left">
        <p><strong>Logo ici</strong></p>
        <p><strong>Adresse & contact :</strong></p>
        <p>📍 Adresse : France</p>
        <p>📞 Téléphone : (+33) xxx-xxx-xxx</p>
        <p>📧 Email : contactteam.com</p>
      </div>
  
      <div class="footer-right">
        <nav>
          <ul>
            <li><a routerLink="/accueil">Accueil</a></li>
            <li><a routerLink="/dashboard">Tableau de bord</a></li>
            <li><a routerLink="/about">À propos</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </footer>
  