<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    <title>Accuiel</title>
</head>
<body>
    <header>

      <img src="/mspr_1/src/app/Photos/Logo_mspr1.png" alt="dddd">
        <nav>
            <ul>
              <li><a routerLink="/" routerLinkActive="active">Accueil</a></li>
              <li><a routerLink="/tableau-de-bord" routerLinkActive="active">Tableau de bord</a></li>
              <li><a routerLink="/a-propos" routerLinkActive="active">À Propos</a></li>
            </ul>
          </nav>
      </header>
      
</body>
</html>