<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    <title>Accuiel</title>
</head>
<body>
  <div class="home-container">
    <h1>Analysez et visualisez les pandémies en un clic</h1>
  
    <a routerLink="/explorer" class="explore-button">
      Explore les données
    </a>
  
    <div class="divider"></div>
  
    <section>
      <h2>Bienvenue</h2>
      <p>
        sur notre plateforme d'analyse des pandémies. Cet outil interactif vous permet d'explorer 
        les données épidémiologiques de différentes crises sanitaires passées, de comprendre leurs 
        dynamiques et d'identifier des tendances grâce à des visualisations claires et précises.
      </p>
      <p>
        En utilisant des bases de données de sources officielles et en appliquant des techniques 
        avancées d'analyse de données, notre objectif est de fournir aux chercheurs et aux décideurs 
        des indicateurs clés pour mieux anticiper et prévenir les pandémies futures.
      </p>
    </section>
  
    <div class="divider"></div>
  
    <a routerLink="/tableau-de-bord" class="dashboard-button">
      Voir le Tableau de Bord
    </a>
  </div>
      
</body>
</html>